ion-content .scroll-content {
    background-color: #f5f5f5;
}

.input-wrap {
    padding: 0 5px;

    ion-col.col {
        padding: 0;
    }

    button {
        background-color: #f5f5f5;
        width: 75%;
        // height: 100%;
        font-size: 1.3em;
        margin: 5px;
        vertical-align: auto;
    }

    textarea {
        border-bottom: 1px #387ef5;
        border-style: solid;
    }
}

ion-footer {
    height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
}