<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col size="10">
        <ion-textarea placeholder="Text Input"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <button ion-button clear icon-only item-right>
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
