<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="message-wrap">

    <!-- <div class="message left">
      <img class="user-img" src="./../../assets/img/vegeta.png" alt="">
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem beatae, dolore eaque facere
            facilis illo inventore ipsam iusto laudantium, magni odit officiis praesentium, qui quidem suscipit veniam?
            Excepturi, quas.</p>
        </div>
        <div class="msg-info">
          <p>Vegeta&nbsp;&nbsp;&nbsp;3分钟前</p>
        </div>
      </div>
    </div> -->

    <div *ngFor="let msg of msgList" class="message left" [class.left]=" msg.userId === toUserId "
      [class.right]=" msg.userId === userId ">
      <img class="user-img" [src]="msg.userImgUrl" alt="" src="">
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
        <div class="msg-info">
          <p>{{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | date:'yyyy-MM-dd hh:mm'}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col size="10">
        <ion-textarea placeholder="" [(ngModel)]="editorMsg"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <button ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>