<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buddha
    </ion-title>
    <ion-button class="no_scroll" size="small" color="light" (click)="toggleInfiniteScroll()" slot='end'>
      No Scroll
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <!-- <ion-list>
      <ion-item button no-lines [color]="even? '' : 'light'" *ngFor="let item of data; let even = even"
        [routerLink]="['/', 'buddha', item.id]" [disabled]="item.page">
        <p><strong>{{ item.page }}</strong></p>
        <ion-label class="ion-text-wrap">
          <h3>{{ item.id }}</h3>
          {{ item.title }}
        </ion-label>
      </ion-item>
    </ion-list> -->

  <ion-list>
    <ion-item no-lines [color]="even? '' : 'light'" *ngFor="let item of data; let even = even">
      <p><strong>{{ item.page }}</strong></p>
      <ion-label class="ion-text-wrap" [routerLink]="['/', 'buddha', item.id]">
        <h3>{{ item.id }}</h3>
        {{ item.title }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Page {{ pageNo }} / Page {{ totalPage }}</ion-title>
  </ion-toolbar>
</ion-footer>