<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buddha
    </ion-title>
    <ion-button class="no_scroll" size="small" color="light" (click)="toggleInfiniteScroll()" slot='end'>
      No Scroll
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="showData()">
    Show Data
  </ion-button> -->
  <ion-content>

    <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar> -->

    <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
        Toggle Infinite Scroll
      </ion-button> -->

    <ion-list>

      <!-- <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]"> -->

      <!-- <ion-label class="ion-text-wrap">
            <h3>{{ item.id }}</h3>
            {{ item.title }}
          </ion-label> -->

      <!-- </ion-item> -->

      <ion-item button no-lines [color]="even? '' : 'light'" *ngFor="let item of data; let even = even" [routerLink]="['/', 'buddha', item.id]">
        <ion-label class="ion-text-wrap">
          <h3>{{ item.id }}</h3>
          {{ item.title }}
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
</ion-content>