<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sicbo</ion-title>
    <div slot='end'>
      <ion-button block class="ion-margin" size="small" color="dark" slot='end'>
        Timer: {{timer}}
      </ion-button>
    </div>
    <div slot='end'>
      <ion-button block class="ion-margin" size="small" color="light" (click)="addCash()" slot='end'>
        ADD CASH
      </ion-button>
    </div>
    <div slot='end'>
      <ion-button block [disabled]="true" class="ion-margin" size="small" color="dark" slot='end'>
        CASH: ${{cash}}
      </ion-button>
    </div>
    <!-- <ion-button class="ion-margin" size="small" color="light" (click)="throwDice()" slot='end'>
      Throw Dice
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="center ion-text-center ion-no-margin">
  <ion-grid>
    <ion-row>
      <ion-col size='3'>
        <div (click)="onClickBig()">
          <h1>大</h1>
          <h1>BIG</h1>
          <p>11 - 17</p>
        </div>
      </ion-col>
      <ion-col size='6' class="ion-no-padding">
        <ion-row>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple6()">
                <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple5()">
                <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple4()">
                <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple3()">
                <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple2()">
                <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
          <ion-col style="padding:1px;">
            <ion-row class="row">
              <div (click)="onClickTriple1()">
                <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
                <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 150</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4/3'>
            <div (click)="onClickDouble6()">
              <ion-img class="double" src="../../assets/img/dice_6.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_6.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size='4/3'>
            <div (click)="onClickDouble5()">
              <ion-img class="double" src="../../assets/img/dice_5.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_5.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size='4/3'>
            <div (click)="onClickDouble4()">
              <ion-img class="double" src="../../assets/img/dice_4.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_4.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size='4'>
            <div (click)="onClickTriple()">
              <ion-row>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_6.png"></ion-img>
                  </ion-row>
                </ion-col>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_5.png"></ion-img>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_4.png"></ion-img>
                  </ion-row>
                </ion-col>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_3.png"></ion-img>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_2.png"></ion-img>
                  </ion-row>
                </ion-col>
                <ion-col style="padding:0px; border:0px;">
                  <ion-row class="row">
                    <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
                    <ion-img class="column double" src="../../assets/img/dice_1.png"></ion-img>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size='4/3'>
            <div (click)="onClickDouble3()">
              <ion-img class="double" src="../../assets/img/dice_3.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_3.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size='4/3'>
            <div (click)="onClickDouble2()">
              <ion-img class="double" src="../../assets/img/dice_2.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_2.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size='4/3'>
            <div (click)="onClickDouble1()">
              <ion-img class="double" src="../../assets/img/dice_1.png"></ion-img>
              <ion-img class="double" src="../../assets/img/dice_1.png"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 8</p>
          </ion-col>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 24</p>
          </ion-col>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 8</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size='3'>
        <div (click)="onClickSmall()">
          <h1>小</h1>
          <h1>SMALL</h1>
          <p>4 - 10</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="onClickList17()">
        <h1 class='ion-no-margin'>17</h1>
        <!-- <p>1 WINS 50</p> -->
      </ion-col>
      <ion-col (click)="onClickList16()">
        <h1 class='ion-no-margin'>16</h1>
        <!-- <p>1 WINS 18</p> -->
      </ion-col>
      <ion-col (click)="onClickList15()">
        <h1 class='ion-no-margin'>15</h1>
        <!-- <p>1 WINS 14</p> -->
      </ion-col>
      <ion-col (click)="onClickList14()">
        <h1 class='ion-no-margin'>14</h1>
        <!-- <p>1 WINS 12</p> -->
      </ion-col>
      <ion-col (click)="onClickList13()">
        <h1 class='ion-no-margin'>13</h1>
        <!-- <p>1 WINS 8</p> -->
      </ion-col>
      <ion-col (click)="onClickList12()">
        <h1 class='ion-no-margin'>12</h1>
        <!-- <p>1 WINS 6</p> -->
      </ion-col>
      <ion-col (click)="onClickList11()">
        <h1 class='ion-no-margin'>11</h1>
        <!-- <p>1 WINS 6</p> -->
      </ion-col>
      <ion-col (click)="onClickList10()">
        <h1 class='ion-no-margin'>10</h1>
        <!-- <p>1 WINS 6</p> -->
      </ion-col>
      <ion-col (click)="onClickList9()">
        <h1 class='ion-no-margin'>9</h1>
        <!-- <p>1 WINS 6</p> -->
      </ion-col>
      <ion-col (click)="onClickList8()">
        <h1 class='ion-no-margin'>8</h1>
        <!-- <p>1 WINS 8</p> -->
      </ion-col>
      <ion-col (click)="onClickList7()">
        <h1 class='ion-no-margin'>7</h1>
        <!-- <p>1 WINS 12</p> -->
      </ion-col>
      <ion-col (click)="onClickList6()">
        <h1 class='ion-no-margin'>6</h1>
        <!-- <p>1 WINS 14</p> -->
      </ion-col>
      <ion-col (click)="onClickList5()">
        <h1 class='ion-no-margin'>5</h1>
        <!-- <p>1 WINS 18</p> -->
      </ion-col>
      <ion-col (click)="onClickList4()">
        <h1 class='ion-no-margin'>4</h1>
        <!-- <p>1 WINS 50</p> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="onClickSingle6()">
        <ion-img src="../../assets/img/dice_6.png"></ion-img>
      </ion-col>
      <ion-col (click)="onClickSingle5()">
        <ion-img src="../../assets/img/dice_5.png"></ion-img>
      </ion-col>
      <ion-col (click)="onClickSingle4()">
        <ion-img src="../../assets/img/dice_4.png"></ion-img>
      </ion-col>
      <ion-col (click)="onClickSingle3()">
        <ion-img src="../../assets/img/dice_3.png"></ion-img>
      </ion-col>
      <ion-col (click)="onClickSingle2()">
        <ion-img src="../../assets/img/dice_2.png"></ion-img>
      </ion-col>
      <ion-col (click)="onClickSingle1()">
        <ion-img src="../../assets/img/dice_1.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="row center ion-text-center ion-no-margin">
    <div class="footerColumn">
      <ion-img src="../../assets/img/online-casino-free-bonus-chips.png"></ion-img>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click100()" color="{{cash100.color}}">100</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click200()" color="{{cash200.color}}">200</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click500()" color="{{cash500.color}}">500</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click1000()" color="{{cash1000.color}}">1000</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click2000()" color="{{cash2000.color}}">2000</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click5000()" color="{{cash5000.color}}">5000</ion-button>
    </div>
    <div class="footerColumn">
      <ion-button (click)="click10000()" color="{{cash10000.color}}">10000</ion-button>
    </div>

  </ion-toolbar>
</ion-footer>