<ion-header>
  <ion-toolbar>
    <ion-title>Sicbo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center ion-no-margin">
  <ion-grid>
    <ion-row>
      <ion-col size='3'>
        <h1>Small</h1>
        <br />
        <br />
        <br />
      </ion-col>
      <ion-col size='6' class="ion-no-padding">
        <ion-row>
          <ion-col>
            666
            <br />
            <br>
          </ion-col>
          <ion-col>
            555
            <br />
            <br>
          </ion-col>
          <ion-col>
            444
            <br />
            <br />
          </ion-col>
          <ion-col>
            333
            <br />
            <br>
          </ion-col>
          <ion-col>
            222
            <br />
            <br>
          </ion-col>
          <ion-col>
            111
            <br />
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class='ion-no-margin'>IN THESE SQUARES 1 WINS 150</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4/3'>
            66
            <br />
            <br />
            <br>
          </ion-col>
          <ion-col size='4/3'>
            55
          </ion-col>
          <ion-col size='4/3'>
            44
          </ion-col>
          <ion-col size='4'>
            <div>111 222</div>
            <div>333 444</div>
            <div>555 666</div>
          </ion-col>
          <ion-col size='4/3'>
            33
          </ion-col>
          <ion-col size='4/3'>
            22
          </ion-col>
          <ion-col size='4/3'>
            11
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 8</p>
          </ion-col>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 24</p>
          </ion-col>
          <ion-col>
            <p class='ion-no-margin'>1 WINS 8</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size='3'>
        <h1>BIG</h1>
        <br />
        <br />
        <br />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class='ion-no-margin'>17 / 4</p>
        <p>1 WINS 50</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>16 / 5</p>
        <p>1 WINS 18</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>15 / 6</p>
        <p>1 WINS 14</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>14 / 7</p>
        <p>1 WINS 12</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>13 / 8</p>
        <p>1 WINS 8</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>12 / 9</p>
        <p>1 WINS 6</p>
      </ion-col>
      <ion-col>
        <p class='ion-no-margin'>11 / 10</p>
        <p>1 WINS 6</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class='ion-no-margin'>6</h1>
        <br>
        <br>
      </ion-col>
      <ion-col>
        <h1 class='ion-no-margin'>5</h1>
        <br>
        <br>
      </ion-col>
      <ion-col>
        <h1 class='ion-no-margin'>4</h1>
        <br>
        <br>
      </ion-col>
      <ion-col>
        <h1 class='ion-no-margin'>3</h1>
        <br>
        <br>
      </ion-col>
      <ion-col>
        <h1 class='ion-no-margin'>2</h1>
        <br>
        <br>
      </ion-col>
      <ion-col>
        <h1 class='ion-no-margin'>1</h1>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>