ion-col {
    background: #98FB98;
    border: 0.05px solid black;
}

ion-row {
    background: #98FB98;
    border: 0.05px solid black;
}

p {
    font-size: 0.1rem,
    margin = 0
}

small {
    font-size: 0.1px
}