<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Game
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="../../assets/img/maxresdefault.jpg">
                    <ion-card-header>
                      <ion-card-subtitle color="success">Bloodborne</ion-card-subtitle>
                      <ion-card-title>Game</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                        Bloodborne follows the protagonist of your own creation through the Gothic city of Yharnam, 
                        whose inhabitants are plagued with an endemic illness that has transformed most of its citizens 
                        into bestial creatures. After mysteriously awakening on the night of "The Hunt", 
                        the Hunters is tasked with the job of hunting down the inflicted and finding something known as the Paleblood. 
                        As the Hunter progresses, they find themselves unraveling the mysteries and facing off against a group that 
                        wish to birth a god.
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="../../assets/img/bloodborne_hd.jpg">
                    <ion-card-header>
                      <ion-card-subtitle color="success">Bloodborne</ion-card-subtitle>
                      <ion-card-title>Game</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                        Bloodborne follows the protagonist of your own creation through the Gothic city of Yharnam, 
                        whose inhabitants are plagued with an endemic illness that has transformed most of its citizens 
                        into bestial creatures. After mysteriously awakening on the night of "The Hunt", 
                        the Hunters is tasked with the job of hunting down the inflicted and finding something known as the Paleblood. 
                        As the Hunter progresses, they find themselves unraveling the mysteries and facing off against a group that 
                        wish to birth a god.
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-card>
                  <img src="../../assets/img/BB_TGS_15.jpg">
                  <ion-card-header>
                    <ion-card-subtitle color="success">Bloodborne</ion-card-subtitle>
                    <ion-card-title>Game</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                      Bloodborne follows the protagonist of your own creation through the Gothic city of Yharnam, 
                      whose inhabitants are plagued with an endemic illness that has transformed most of its citizens 
                      into bestial creatures. After mysteriously awakening on the night of "The Hunt", 
                      the Hunters is tasked with the job of hunting down the inflicted and finding something known as the Paleblood. 
                      As the Hunter progresses, they find themselves unraveling the mysteries and facing off against a group that 
                      wish to birth a god.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                      <img src="../../assets/img/bird.jpg">
                      <ion-card-header>
                        <ion-card-subtitle color="success">Bloodborne</ion-card-subtitle>
                        <ion-card-title>Game</ion-card-title>
                      </ion-card-header>
                    
                      <ion-card-content>
                          Bloodborne follows the protagonist of your own creation through the Gothic city of Yharnam, 
                          whose inhabitants are plagued with an endemic illness that has transformed most of its citizens 
                          into bestial creatures. After mysteriously awakening on the night of "The Hunt", 
                          the Hunters is tasked with the job of hunting down the inflicted and finding something known as the Paleblood. 
                          As the Hunter progresses, they find themselves unraveling the mysteries and facing off against a group that 
                          wish to birth a god.
                      </ion-card-content>
                    </ion-card>
              </ion-col>
          </ion-row>
    </ion-grid>

        
</ion-content>
